* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

#content {
    width: 80%;
    top: 40px;
    left: 100px;
    position: relative;
}


#main {
    height: 2200px;
}

#content #header1 {
    align-items: center;
}
#content #header1 img{
    margin-left: auto;
    margin-right: auto;
    width: 110%;
    height: 350px;

}
#content #header1::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 350px;
    background: rgb(68, 42, 42);
    z-index: 1;
    animation: reveal 1s reverse forwards;
    animation-delay: 1s;
    transform-origin: right;
}
@keyframes reveal{
    0%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    }
}

#content #header1 h1 {
    position: absolute;
    font-size: 50px;
    color: rgb(0, 0, 0);
    font-family:courier,arial,helvetica;
    background: rgb(255, 255, 255);
    top: 250px;
    left: 100px;
    text-decoration: underline;
}

#content #plans li{
    width: 100%;
    top: 8px;
    border-bottom: 3px solid;
    position: relative;
    display: block;
}

#content #plans a {
    width: 100%;
    top: 20px;
    margin: 33px 0;
    color: black;
    text-decoration: none;
    display: block;
}

#content #plans img{
    width: 30%;
    height: 200px;  
    margin-right: 50px;
    background-size: contain;
}

#content #plans div {
    width: 50%;
    left: 40%;
    top: 0;
    position: absolute;
}

#content #plans h2 {
    margin-bottom: 20px;
    position: relative;
}

#content #plans h1 {
    font-size: 50px;
    color:rgb(38, 0, 255);
    margin-top: 20px;
    margin-left: 30px;
}
