{% extends "base.html" %}

{% load static %}

{% block title %}Thực đơn đặc biệt{% endblock %}

{% block css %}{% static '/css/spe_diet.css' %}{% endblock %}

{% block content %}

<div id="intro">
    <img src="https://images.squarespace-cdn.com/content/v1/54e730d4e4b0bc2e9a8f31d0/1535553932354-8NUF5G5XK48B3SHZJKHD/Special+Diets.JPG?format=1500w" alt="">
    <div id="intro_diets">
        <h1 id="title">Chế độ ăn kiêng đặc biệt</h1>
        <p>Chúng tôi ở đây để giúp bạn chọn thực phẩm sẽ giúp bạn cảm thấy tốt nhất, cho dù đó là cho một trái tim khỏe mạnh, chế độ ăn không có gluten, mục tiêu giảm cân hoặc chế độ ăn kiêng low-carb. Với công thức nấu ăn ngon, chuyên gia dinh dưỡng đã đăng ký đã tạo ra kế hoạch bữa ăn và bài viết để giúp bạn ăn để cảm thấy tốt hơn.‎</p>
    </div>
</div>
    

{% endblock %}