{% extends "base.html" %}

{% load static %}

{% block title %}Vegan Meals Plans{% endblock %}

{% block css %}{% static '/css/paper.css' %}{% endblock %}

<!-- Begin navbar -->
{% block navbar %}
<div id="navbar">
    <ul>
        <li>
            <a href="/">Home</a>
            <i class="fas fa-angle-right"></i>
        </li>

        <li>
            <a href="">Healthy Meal Plans</a>
            <i class="fas fa-angle-right"></i>
        </li>

        <li>
            <a href="{% url 'HealthyMealPlans_WeightLoss' %}">WeightLoss Meal Plans</a>
            <i class="fas fa-angle-right"></i>
        </li>

        <li>
            <a href="">7-Day Mediterranean Meal Plan: 1,500 Calories</a>
        </li>
    </ul>
</div>
{% endblock %}
<!-- End navbar -->

<!-- Begin content -->
{% block content %}
<div id="content">
    <h1>7-Day Mediterranean Meal Plan: 1,500 Calories</h1>
    
    <p>
        Recognized as one of the healthiest and most delicious ways to eat,
        the Mediterranean diet is easy to follow with this 1,500-calorie meal plan.
    </p>
    
    <ul id="author">
        <li><a href="">Victoria Seaver, M.S., RD</a></li>
        <li>Updated November 15, 2019</li>
    </ul>
    
    <p>
        The Mediterranean diet has long been recognized as one of the <a href="">healthiest and most delicious ways to eat</a>.
        The core concept behind this healthy diet is to eat like the people who live in the Mediterranean region-fill your plate with fresh fruits and vegetables, healthy fats, whole grains, legumes and fish and enjoy moderate amounts of red wine.
        This 7-day Mediterranean diet plan features these <a href="">good-for-you foods</a> and delicious ideas for <a href="">breakfast</a>, 
        <a href="">lunch</a>, <a href="">dinner</a> and <a href="">snacks</a> for a full week of healthy of eating. 
        Plus, at 1,500 calories you're on track to lose a healthy 1 to 2 pounds per week.
    </p>

    <p><b>Read More:</b> <a href="">8 Ways to Follow the Mediterranean Diet for Better Health</a></p>

    <p>
        If you're looking for a different calorie level, see this same meal plan at <a href="">1,200</a> and <a href="">2,000 calories</a>. 
        And don't miss our seasonal Mediterranean meal plans for <a href="">summer</a> and <a href="">fall</a>!
    </p>
    
    <img src="https://i.pinimg.com/originals/67/a1/de/67a1decb210f892f9b07f6720ac0e541.jpg" alt="">

    <h2>How to Meal Prep Your Week of Meals:</h2>
    <ol>
        <li>Meal prep the Brussels Sprouts Salad with Crispy Chickpeas to have for lunch during the busy work week. Store in air-tight meal-prep containers to keep fresh.</li>
        <li>
            On Day 3, cook a double batch of Basic Quinoa when making dinner and save leftover quinoa in a large air-tight glass container.
            You'll use more quinoa for the Mediterranean Chickpea Quinoa Bowl recipe on Day 4. Any quinoa leftover after that can be portioned out into individual servings and frozen for future use.
        </li>
    </ol>

    <p><b>Don't Miss:</b> <a href="">30 Days of Mediterranean Diet Dinners</a></p>

    
    <!-- Begin Day1 -->
    <div id="Day1">
        <h2>Day 1</h2>

        <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F44%2F2019%2F02%2F27121403%2F38794061.jpg" alt="">

        <h3>Breakfast (324 calories)</h3>
        <ul>
            <li>2 serving <a href="">Rainbow Frittata</a></li>
            <li>1 medium banana</li>
        </ul>

        <h3>A.M. Snack (123 calories)</h3>
        <ul>
            <li>1 medium apple orange</li>
            <li>8 unsalted almonds</li>
        </ul>

        <h3>Lunch (374 calories)</h3>
        <ul>
            <li>1 serving <a href="">Green Salad with Pita Bread & Hummus</a></li>
        </ul>

        <h3>P.M. Snack (126 calories)</h3>
        <ul>
            <li>1 cup raspberries</li>
            <li>1/2 cup whole-milk Greek yogurt</li>
            <li>1 Tbsp. chia seeds</li>
        </ul>

        <h3>Dinner (442 calories)</h3>
        <ul>
            <li>1 serving <a href="">Dijon Salmon with Green Bean Pilaf</a></li>
        </ul>

        <p><b>Daily Totals:</b> 1,501 calories, 79 g protein, 151 g carbohydrates, 37 g fiber, 71 g fat, 1,640 mg sodium</p>
    </div>         
    <!-- End Day1 -->
    
    <!-- Begin Day2 -->
    <div id="Day2">
        <h2>Day 2</h2>

        <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F44%2F2019%2F02%2FLinguine-with-Creamy-Mushroom-Sauce-1244.jpg" alt="">

        <h3>Breakfast (365 calories)</h3>
        <ul>
            <li>1 serving <a href="">Muesli with Raspberries</a></li>
            <li>1 hard-boiled egg</li>
        </ul>

        <h3>A.M. Snack (92 calories)</h3>
        <ul>
            <li>1 plum</li>
            <li>8 unsalted almonds</li>
        </ul>

        <h3>Lunch (337 calories)</h3>
        <ul>
            <li>1 serving <a href="">Brussels Sprouts Salad with Crispy Chickpeas</a></li>
        </ul>

        <h3>P.M. Snack (102 calories)</h3>
        <ul>
            <li>2 Tbsp. hummus</li>
            <li>2 medium carrots</li>
        </ul>

        <h3>Dinner (593 calories)</h3>
        <ul>
            <li>1 serving <a href="">Linguine with Creamy Mushroom Sauce</a></li>
            <li>1 serving <a href="">Basic Green Salad with Vinaigrette</a></li>
        </ul>

        <p><b>Daily Totals:</b> 1,489 calories, 56 g protein, 171 g carbohydrates, 43 g fiber, 70 g fat, 1,310 mg sodium</p>
    </div>         
    <!-- End Day2 -->
    
    <!-- Begin Day3 -->
    <div id="Day3">
        <h2>Day 3</h2>

        <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F44%2F2019%2F02%2F27121400%2F43269381.jpg" alt="">

        <h3>Breakfast (357 calories)</h3>
        <ul>
            <li>1 serving <a href="">Fig & Ricotta Toast</a></li>
            <li>1 medium banana</li>
        </ul>

        <h3>A.M. Snack (122 calories)</h3>
        <ul>
            <li>2 plum</li>
            <li>8 unsalted almonds</li>
        </ul>

        <h3>Lunch (431 calories)</h3>
        <ul>
            <li>1 serving <a href="">Brussels Sprouts Salad with Crispy Chickpeas</a></li>
            <li>1 medium apple</li>
        </ul>

        <h3>P.M. Snack (177 calories)</h3>
        <ul>
            <li>1 cup raspberries</li>
            <li>1/4 cup whole-milk Greek yogurt</li>
            <li>1 Tbsp. chia seeds</li>
        </ul>

        <h3>Dinner (429 calories)</h3>
        <ul>
            <li>1 serving <a href="">Cod in Tomato Cream Sauce</a></li>
            <li>1 cup <a href="">Basic Quinoa</a></li>
        </ul>

        <p><b>Daily Totals:</b> 1,517 calories, 65 g protein, 197 g carbohydrates, 45 g fiber, 56 g fat, 1,134 mg sodium</p>
    </div>         
    <!-- End Day3 -->

    
    <!-- Begin Day4 -->
    <div id="Day4">
        <h2>Day 4</h2>

        <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F44%2F2019%2F08%2F26231148%2F4513586.jpg" alt="">

        <h3>Breakfast (368 calories)</h3>
        <ul>
            <li>1 serving <a href="">Creamy Blueberry-Pecan Overnight Oats</a></li>
            <li>1 hard-boiled egg</li>
        </ul>

        <h3>A.M. Snack (176 calories)</h3>
        <ul>
            <li>1 medium orange</li>
            <li>1 ounce cheddar cheese</li>
        </ul>

        <h3>Lunch (337 calories)</h3>
        <ul>
            <li>1 serving <a href="">Brussels Sprouts Salad with Crispy Chickpeas</a></li>
        </ul>

        <h3>P.M. Snack (177 calories)</h3>
        <ul>
            <li>1 cup raspberries</li>
            <li>1/4 cup whole-milk Greek yogurt</li>
            <li>1 Tbsp. chia seeds</li>
        </ul>

        <h3>Afternoon Snack (122 calories)</h3>
        <ul>
            <li>2 plums</li>
            <li>8 unsalted almonds</li>
        </ul>

        <h3>Dinner (477 calories)</h3>
        <ul>
            <li>1 serving <a href="">Mediterranean Chickpea Quinoa Bowl</a></li>
        </ul>

        <p><b>Daily Totals:</b> 1,481 calories, 51 g protein, 163 g carbohydrates, 33 g fiber, 74 g fat, 1,417 mg sodium</p>
    </div>         
    <!-- End Day4 -->
    
    <!-- Begin Day5 -->
    <div id="Day5">
        <h2>Day 5</h2>

        <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F44%2F2019%2F02%2F27121401%2F39338781.jpg" alt="">

        <h3>Breakfast (365 calories)</h3>
        <ul>
            <li>1 serving <a href="">Muesli with Raspberries</a></li>
            <li>1 hard-boiled egg</li>
        </ul>

        <h3>A.M. Snack (31 calories)</h3>
        <ul>
            <li>1 plum</li>
        </ul>

        <h3>Lunch (431 calories)</h3>
        <ul>
            <li>1 serving <a href="">Brussels Sprouts Salad with Crispy Chickpeas</a></li>
            <li>1 medium apple</li>
        </ul>

        <h3>P.M. Snack (176 calories)</h3>
        <ul>
            <li>1 medium orange</li>
            <li>1 ounce cheddar cheese</li>
        </ul>

        <h3>Dinner (491 calories)</h3>
        <ul>
            <li>2 generous cups <a href="">Chicken & White Bean Soup</a></li>
            <li>1-inch thick slice baguette</li>
        </ul>

        <p><b>Meal-Prep Tip:</b> Save 1 1/2 cups of the <a href="">Chicken & White Bean Soup</a> to have for lunch on Day 6.</p>

        <p><b>Daily Totals:</b> 1,493 calories, 96 g protein, 180 g carbohydrates, 42 g fiber, 51 g fat, 1,330 mg sodium</p>
    </div>         
    <!-- End Day5 -->
    
    <!-- Begin Day6 -->
    <div id="Day6">
        <h2>Day 6</h2>

        <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F44%2F2019%2F08%2F26232302%2F5571688.jpg" alt="">

        <h3>Breakfast (368 calories)</h3>
        <ul>
            <li>1 serving <a href="">Creamy Blueberry-Pecan Overnight Oats</a></li>
            <li>1 hard-boiled egg</li>
        </ul>

        <h3>A.M. Snack (62 calories)</h3>
        <ul>
            <li>1 medium orange</li>
        </ul>

        <h3>Lunch (342 calories)</h3>
        <ul>
            <li>1 1/2 cups <a href="">Chicken & White Bean Soup</a></li>
            <li>1 medium apple</li>
        </ul>

        <h3>P.M. Snack (129 calories)</h3>
        <ul>
            <li>3 Tbsp. hummus</li>
            <li>1 medium carrots</li>
        </ul>

        <h3>Dinner (491 calories)</h3>
        <ul>
            <li>1 serving <a href="">Eggs in Tomato Sauce with Chickpeas & Spinach</a></li>
            <li>1 large whole wheat pita</li>
        </ul>

        <p><b>Daily Totals:</b> 1,515 calories, 78 g protein, 188 g carbohydrates, 35 g fiber, 44 g fat, 1,702 mg sodium</p>
    </div>         
    <!-- End Day6 -->
    
    <!-- Begin Day7 -->
    <div id="Day7">
        <h2>Day 7</h2>

        <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F44%2F2018%2F09%2F27113032%2F47842121.jpg" alt="">

        <h3>Breakfast (357 calories)</h3>
        <ul>
            <li>1 serving <a href="">Fig & Ricotta Toast</a></li>
            <li>1 medium banana</li>
        </ul>

        <h3>A.M. Snack (145 calories)</h3>
        <ul>
            <li>1/2 cup raspberries</li>
            <li>1/4 cup whole-milk Greek Yogurt</li>
            <li>1 Tbsp. chia seeds</li>
        </ul>

        <h3>Lunch (374 calories)</h3>
        <ul>
            <li>1 serving <a href="">Green Salad with Pita Bread & Hummus</a></li>
        </ul>

        <h3>P.M. Snack (102 calories)</h3>
        <ul>
            <li>2 Tbsp. hummus</li>
            <li>2 medium carrots</li>
        </ul>

        <h3>Dinner (397 calories)</h3>
        <ul>
            <li>1 serving <a href="">Slow-Cooker Mediterranean Chicken & Orzo</a></li>
            <li>1-inch thick slice baguette</li>
        </ul>

        <h3>Evening Snack (125 calories)</h3>
        <ul>
            <li>5 fluid ounces red wine</li>
        </ul>

        <p><b>Daily Totals:</b> 1,499 calories, 72 g protein, 201 g carbohydrates, 39 g fiber, 39 g fat, 1,935 mg sodium</p>
    </div>         
    <!-- End Day7 -->
</div>
{% endblock %}
<!-- End content -->
