{% extends "base.html" %}

{% load static %}

{% block title %}About Us{% endblock %}

{% block css %}{% static '/css/about.css' %}{% endblock %}

{% block content %}
<div id="content">
  <div id="outfit">
      <h1>Hi! Meet Team Food_TPT</h1>
  </div>
  <video class="lazyloading" data-src="https://hmg-h-cdn.hearstapps.com/videos/delish-about-us-update-smaller-size-1598546300.mp4" autoplay="" loop="" muted="" playsinline="" src="https://hmg-h-cdn.hearstapps.com/videos/delish-about-us-update-smaller-size-1598546300.mp4"></video>

  <div id="infor">
      <div id="for_team">
          <h1>INFORMATION</h1>
      </div>
  </div>
  <div id="team">
      <img id="logo" src="https://yt3.ggpht.com/ytc/AKedOLQcfxC1KxxvhbtLwG7vWuH1DZOi5hAR4MM9m8US=s900-c-k-c0x00ffffff-no-rj" alt="">
      <div class="footer-items">
          <div class="items">
            <h4>Nguyễn Văn Tài </h4>
            <img src="https://icons.veryicon.com/png/o/holiday/christmas-icon-5/christmas-reindeer.png" alt="">
            <p> 19520250 </p>
            <p> 19520250@gm.uit.edu.vn </p>
          </div>

          <div class="items">
            <h4> Châu Thanh Tuấn </h4>
            <img src="https://icons.veryicon.com/png/o/holiday/christmas-icon-5/color-ball.png" alt="">
            <p> 1952xxxx </p>
            <p> 19520250@gm.uit.edu.vn </p>
          </div>

          <div class="items">
            <h4> Trần Quốc Phong </h4>
            <img src="https://i.pinimg.com/550x/71/41/b1/7141b18d8081d8fa2b1d9b4cb7fb4beb.jpg" alt="">
            <p> 1952xxxx </p>
            <p> 19520250@gm.uit.edu.vn </p>
          </div>
  </div>
</div>


{% endblock %}